<%-include('partials/header.ejs')%>
  <div class="container">
    <div class="row ms-5 me-5">
        <%data.forEach((element)=>{%>
          <div class="card m-5" style="width: 18rem;">
            <img src="https://covers.openlibrary.org/b/olid/<%=element.cover_key%>-L.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><%=element.title%></h3>
              <h4><%=element.author_name%></h4>
              <p class="card-text"><%=element.short_note%></p>
              <%if(element.title_date===today){%>
                <p>Date: Today</p>
              <%}else if(element.title_date===yesterday){%>
                <p>Date: Yesterday</p>
              <%}else{%>
                <p>Date: <%=element.title_date%></p>
              <%}%>    
              <%
                let stars="";
                switch (element.rating) { 
                  case 1: stars = 'Rating: ★☆☆☆☆'; break;
                  case 2: stars = 'Rating: ★★☆☆☆'; break; 
                  case 3: stars = 'Rating: ★★★☆☆'; break; 
                  case 4: stars = 'Rating: ★★★★☆'; break; 
                  case 5: stars = 'Rating: ★★★★★'; break;
                  default: stars = 'No Rating'; break;
                } 
              %>   
              <p id="rating<%=element.id%>"><%=stars%></p> 
              <a href="/edit/<%=element.id%>" class="btn btn-warning">Edit</a>
              <form action="/delete" method="post" style="display: inline-block;">
                <input type="hidden" name="deleteId" value="<%=element.id%>">
                <button type="button" onclick="deleteFunction('<%=element.id%>')" class="btn btn-danger">Delete</button>
                <div id="deleteDiv<%=element.id%>" style="display:none;">
                  <p>Are you sure you want to delete this book?</p>
                  <button type="button" onclick="cancelFunction('<%=element.id%>')" class="btn btn-secondary">NO</button>
                  <button type="submit" class="btn btn-danger">YES</button>
                </div> 
              </form>
            </div>
          </div>
        <%})%>  
    </div>
  </div>
  <script>
    function deleteFunction(id){
      document.getElementById(`deleteDiv${id}`).removeAttribute('style'); 
    }
    function cancelFunction(id){
      document.getElementById(`deleteDiv${id}`).setAttribute('style','display:none');
    }
  </script>
<%-include('partials/footer.ejs')%>